*{
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image: linear-gradient(to left, #D1BC5E, #857015)
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(96, 67, 67, 0.541);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #42413A;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(66, 52, 46);
}
h2 {
    color: #53491c;
}

p{
    text-align: justify;

}
